.addComment-form {
    margin-left: 20px !important;
    width: 80%;
}

.add-comment-button {
    margin-left: 20px !important;
}

.add-comment-container {
    display: flex;
    flex-direction: row;
    align-items: center;
}

.comment {
    margin-left: 20px !important;
}