.addComment-form {
    margin-left: 20px !important;
    width: 60%;
}

.add-comment-button {
    margin-left: 20px !important;
   
}

.add-comment-container {
    display: flex;
    align-items: center;
}

.comment {
    margin-left: 20px !important;
}