.user-profile {
    display: flex;
    flex-direction: row;
    margin: 0 auto;
    width: 50%;
    margin-top: 40px;
}

.post-container {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.user-info {
    width: 100%;
}

.user-profile-picture .avatar img {
    height: 50px;
    width: 50px;
}

.full-name-container {
    display: flex;
    flex-direction: row;
    align-items: center;
}

.edit-label {
    margin-left: 20px !important;
    height: 40px !important;
    width: 40px !important;
}